extends layout

block main
    form.form(name="urlform")
        div.input-group
            input#url.inputbox(placeholder="Длинный URL" name="url")
            button.button Преобразовать

        div.message.hidden
